<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ejs - example - hello</title>
  <script type="text/javascript" src="ejs.js"></script>
</head>

<body>
  <div class="container" id="container"></div>
  <script type="text/javascript">
      console.log(ejs);
      let arr = ['red', 'green', 'blue']
      let template = ejs.render(`
        <ul>
          <% arr.forEach(item => { %>
            <li><%= item %></li>
          <% }) %>
        </ul>
      `, {arr})

      document.querySelector('#container').innerHTML = template
    </script>
</body>

</html>
